body {
	background-color: black;
	margin-top: 0;
	margin-left: 0;
	font-family: Verdana;
	font-size: 11px;
	color: #595959;

	MARGIN: 0px;
	SCROLLBAR-FACE-COLOR: #ffcc33;
	SCROLLBAR-HIGHLIGHT-COLOR: #ff6633;
	SCROLLBAR-SHADOW-COLOR: #ff6633;
	SCROLLBAR-3DLIGHT-COLOR: #FFCC99;
	SCROLLBAR-ARROW-COLOR: #ff6633;
	SCROLLBAR-TRACK-COLOR: #666666;
	SCROLLBAR-DARKSHADOW-COLOR: #666666
}

td {
	font-family: Verdana;
	font-size: 11px;
	color: #595959;
}

P {
	line-height: 16px;
}

li {
	line-height: 16px;
}

h1 {
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	color: #000000;
}

.just {
	text-align: center;
}

.just10 {
	text-align: justify;
	margin-top: 10px;
}

.subtitle {
	font-size: 11px;
	font-family: Verdana;
	font-weight: bold;
	color: #00589E;
}

.white {
	color: #ffffff;
}

.black {
	color: #000;
}


.jay {
	color: #595959;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px
}

.jay link {
	color: #595959;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px
}

.jay a:link {
	color: #595959;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px
}

.jay a:visited {
	color: #595959;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px
}

.jay a:hover {
	color: #00589E;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px
}

.useLinks {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #ffffff;
	line-height: 16px;
	margin-left: 17px;
	text-decoration: none
}

.useLinks a:link {
	font-size: 10px;
	font-family: Arial;
	color: #00589E;
	line-height: 16px;
	margin-left: 17px;
	text-decoration: none
}

.useLinks a:visited {
	font-size: 10px;
	font-family: Arial;
	color: #00589E;
	line-height: 16px;
	margin-left: 17px;
	text-decoration: none
}

.useLinks a:hover {
	font-size: 10px;
	font-family: Arial;
	color: #999999;
	line-height: 16px;
	margin-left: 17px;
	text-decoration: underline
}

.leftLinks {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #00589E;
	line-height: 13px;
	text-decoration: none
}

.leftLinks a:link {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #999999;
	line-height: 13px;
	text-decoration: none
}

.leftLinks a:visited {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #00589e;
	line-height: 13px;
	text-decoration: none
}

.leftLinks a:hover {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #999999;
	line-height: 13px;
	text-decoration: underline
}

.botLinks {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #595959;
	line-height: 16px;
	text-decoration: none
}

.botLinks a:link {
	font-size: 9.5px;
	font-family: Verdana, Arial, Helvetica;
	color: #595959;
	line-height: 16px;
	text-decoration: none
}

.botLinks a:visited {
	font-size: 9.5px;
	font-family: Verdana, Arial, Helvetica;
	color: #595959;
	line-height: 16px;
	text-decoration: none
}

.botLinks a:hover {
	font-size: 9.5px;
	font-family: Verdana, Arial, Helvetica;
	color: #00589E;
	line-height: 16px;
	text-decoration: underline
}

.leftLinksB {
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #000000;
	text-decoration: none
}

.leftLinksB a:link {
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #000000;
	text-decoration: none
}

.leftLinksB a:visited {
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #000000;
	text-decoration: none
}

.leftLinksB a:hover {
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
	color: #595959;
	text-decoration: none
}

.useLinksHead {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica;
	color: #00589E;
	font-weight: bold;
}


input {
	font-family: verdana;
	font-size: 10px;
}

select {
	font-family: verdana;
	font-size: 10px;
}

textarea {
	font-family: verdana;
	font-size: 10px;
}

A {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

A:hover {
	color: #999999;
	text-decoration: none;
}

B {
	font-weight: bold
}

.maintitle {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: 000000;
	text-decoration: none;
	letter-spacing: .1em;
}

A.maintitle:hover {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: 000000;
	text-decoration: none;
	letter-spacing: .1em;
}

.globalNav {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: 999999;
	text-decoration: none;

}

A.globalNav:hover {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: 00589E;
	text-decoration: underline;

}

.linkNormal {
	font-family: Arial;
	font-size: 13px;
	font-weight: Bold;
	color: #ffffff;
}

.Headlineyello {
	font-family: Arial;
	font-size: 16px;
	font-weight: Bold;
	color: #FFCC00;
}

.linkNormalNoU {
	font-family: Arial;
	font-size: 11px;
	font-weight: Bold;
	color: #FFFFFF;
	text-decoration: none;
}

a.linkNormalNoU:hover {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #595959;
	text-decoration: underline;
}

.bodytxt {
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #ffffff;
	text-align: justify;
}

.copyright {
	font-family: Verdana;
	font-size: 10px;
	line-height: 12px;
	color: #aaaaaa;
}